# Project subjects, corrections and other stuff
correc.*
*.pdf
*.zip
*.tar
*.gif
*.c-e
*.h-e
*.cl-e

# Program
RT
RT.exe
log.txt
config.ini
concat.CL

# Macintosh files
*.DS_Store
*._*

# Object files & Dependency files
obj/*
*.o
*.d
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Vim swp
*.swp

# Compiled libraries
*.lib
*.a
*.la
*.lo
# Shared objects
*.so
*.so.*
*.dylib

# Executables
*.out
*.exe
*.exe.stackdump
*.dSYM
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
